<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
         <h4>Iniciar Sesión</h4>

        <!-- Icon -->

        <!-- Login Form -->
        <form >
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="button" (click)="login()" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <small>Si olvidaste tu contraseña, comunicate con el administrador.</small>
        </div>


    </div>
</div>