<small>* Acá podrás visualizar todas las sugerencias realizadas por los usuarios</small>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" style="text-align: left;">ID</th>
            <th scope="col" style="text-align: left;">SUGERENCIA</th>
            <th scope="col" style="text-align: left;">IMAGEN</th>
            <th scope="col" style="text-align: left;">FECHA</th>
            <th scope="col" style="text-align: left;">CORREO</th>
        </tr>
    </thead>
    <tbody>
        <!--fila-->
        <tr *ngFor="let sug of sugerencias">
            <th scope="row" style="text-align: left;">
                <p>{{sug[0]}}</p>
            </th>
            <td>
                <p>{{sug[1]}}</p>
            </td>
           
           
            <td>
                <div class="popup-container">
                    <a class="hover-text">Ver evidencia</a>
                    <img *ngIf="sug[2]" [src]="'data:image/jpeg;base64,' + sug[2]" class="popup-img"
                        alt="Evidencia" />
                </div>
            </td> 

            <td>
                <p>{{sug[3]}}</p>
            </td>
            <td>
                <p>{{sug[4]}}</p>
            </td>
            <!--
            
            <td>
                <p [class]="aporte[6]">{{aporte[6]}}</p>
            </td>
            -->
        </tr>

    </tbody>
</table>